

<img src="#" alt="homPage-image" id= "hom-page-img">
<h3>Top Sports</h3>
<div class="imgs">
    
    <div>
    <img src="{{images}}" alt="sport" class="top-sports">
    <p class="description"> bla bla bla  </p>
    </div>

</div>







<a href="/side-page1">page1</a>
<a href="/side-page2">page2</a>
<a href="https://athletes-json.herokuapp.com/athletes?ID=453">get info</a>