

<img src="/images/WEBSITE-IMAGE-1148x600-v1.png" alt="homPage-image" id= "home-page-img">

<div class="para">

    <div class="arrows">
        <img src="/images/TopSports.png" alt="" >

    </div>
    
    <div class="para1">
        <img src="/images/image.png" alt="">
        <h3>Golden start to 2020 for Walkden</h3>
        <p>Taekwondo star Bianca Walkden started the year on a high note as she claimed gold in the President’s Cup in Sweden.</p>
    </div>
    <div class="para1">
        <img src="/images/image.png" alt="">
        <h3>Golden start to 2020 for Walkden</h3>
        <p>Taekwondo star Bianca Walkden started the year on a high note as she claimed gold in the President’s Cup in Sweden.</p>
    </div>  
    <div class="para1">
        <img src="/images/image.png" alt="">
        <h3>Golden start to 2020 for Walkden</h3>
        <p>Taekwondo star Bianca Walkden started the year on a high note as she claimed gold in the President’s Cup in Sweden.</p>
    </div>

<div class="arrows"><img src="/images/el-chevron-right.png" alt="" ></div>
</div>

    <h2>News</h2>
<div id="news">

    <br>
    <div class="new1">
        <img src="/images/123.png" alt="">
        <p>TITLE: Olympic freestyler Rowan Cheshire hangs up her skis
4:50
BODY: Freestyle skier Rowan Cheshire has announced her retirement from the sport after admitting her body and mind can’t keep up with the pace of it anymore.</p>
    </div>
    <div class="new1">
        <img src="/images/123.png" alt="">
        <p>
            TITLE: Olympic freestyler Rowan Cheshire hangs up her skis
4:50
BODY: Freestyle skier Rowan Cheshire has announced her retirement from the sport after admitting her body and mind can’t keep up with the pace of it anymore.
        </p>
    </div>
    <div class="new1">
        <img src="/images/123.png" alt="">
        <p>
            TITLE: Olympic freestyler Rowan Cheshire hangs up her skis
4:50
BODY: Freestyle skier Rowan Cheshire has announced her retirement from the sport after admitting her body and mind can’t keep up with the pace of it anymore.
        </p>
    </div>





</div>





